{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Make reservation</h1>
                <p><strong>Reservation Details</strong></p>

                {{$res := index .Data "reservation"}}
                <form method="post" action="/make-reservation" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    <div class="mt-5">
                        <label for="first_name" class="form-label">First name:</label>
                        {{with .Form.Errors.Get "first_name"}}
                            <lable class="text-danger">{{.}}</lable>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" name="first_name" id="first_name" autocomplete="off" value="{{$res.FirstName}}" required>
                    </div>
                    <div>
                        <label for="last_name" class="form-label">Last name:</label>
                        {{with .Form.Errors.Get "last_name"}}
                            <lable class="text-danger">{{.}}</lable>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" name="last_name" id="last_name" autocomplete="off" value="{{$res.LastName}}" required>
                    </div>
                    <div>
                        <label for="start_date" class="form-label">Start Date:</label>
                        {{with .Form.Errors.Get "start_date"}}
                            <lable class="text-danger">{{.}}</lable>
                        {{end}}
                        <input type="date" class="form-control {{with .Form.Errors.Get "start_date"}} is-invalid {{end}}" name="start_date" id="start_date" autocomplete="off" value="{{$res.StartDate}}" required>
                    </div>
                    <div>
                        <label for="end_date" class="form-label">End Date:</label>
                        {{with .Form.Errors.Get "end_date"}}
                            <lable class="text-danger">{{.}}</lable>
                        {{end}}
                        <input type="date" class="form-control {{with .Form.Errors.Get "end_date"}} is-invalid {{end}}" name="end_date" id="end_date" autocomplete="off" value="{{$res.EndDate}}" required>
                    </div>
                    <input type="hidden" name="room_id" value="1">
                    <div>
                        <label for="email" class="form-label">Email:</label>
                        {{with .Form.Errors.Get "email"}}
                            <lable class="text-danger">{{.}}</lable>
                        {{end}}
                        <input type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" name="email" id="email" autocomplete="off" value="{{$res.Email}}" required>
                    </div>
                    <div>
                        <label for="phone" class="form-label">Phone number:</label>
                        {{with .Form.Errors.Get "phone"}}
                            <lable class="text-danger">{{.}}</lable>
                        {{end}}
                        <input type="text" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" name="phone" id="phone" autocomplete="off" value="{{$res.Phone}}" required>
                    </div>
                    <hr>
                    <input type="submit" class="btn btn-primary" value="Make Reservation">
                </form>
            </div>
        </div>
    </div>
{{end}}